### FOURSQUARE üåç

I am going to search all the companies in `San Francisco`, `LA` and `NewYork` with `starbucks`, `vegan` and `travel`

### Libraries

In [2]:
from functools import reduce
import operator
import requests
import json
from dotenv import load_dotenv
import os
import pandas as pd
import scr.foursquare as f
load_dotenv()

True

In [3]:
url_query = 'https://api.foursquare.com/v2/venues/explore'

In [4]:
tok1 = os.getenv("tok1")
tok2 = os.getenv("tok2")

1. San Francisco

In [5]:
sanfrancisco = {'type': 'Point', 'coordinates': [37.784174, -122.449408]}

1.1 Starbucks üßã

In [6]:
parametros = {
       "client_id": tok1,
       "client_secret": tok2,
       "v": "20180323",
       "ll": f"{sanfrancisco.get('coordinates')[0]},{sanfrancisco.get('coordinates')[1]}",
       "query": "starbucks", 
       "limit": 170
}

In [7]:
resp = requests.get(url= url_query, params = parametros).json()

In [8]:
sf_starbucks = resp.get("response").get("groups")[0].get("items")

In [9]:
mapa_nombre =  ["venue", "name"]
mapa_latitud = ["venue", "location", "lat"]
mapa_longitud = ["venue", "location", "lng"]

In [11]:
lista_starbucks = []
for dic in sf_starbucks:
    paralista = {}
    paralista["name"] = f.getFromDict(dic, mapa_nombre)
    paralista["latitud"]= f.getFromDict(dic, mapa_latitud)
    paralista["longitud"] = f.getFromDict(dic,mapa_longitud)
    lista_starbucks.append(paralista)

In [11]:
starbucks_sf = pd.DataFrame(lista_starbucks)
starbucks_sf.head()

        name    latitud    longitud
0  Starbucks  37.786220 -122.453203
1  Starbucks  37.799182 -122.449409
2  Starbucks  37.788652 -122.434757
3  Starbucks  37.782074 -122.447080
4  Starbucks  37.785980 -122.439830

1.2 Travel üåç

In [12]:
parametros = {
       "client_id": tok1,
       "client_secret": tok2,
       "v": "20180323",
       "ll": f"{sanfrancisco.get('coordinates')[0]},{sanfrancisco.get('coordinates')[1]}",
       "query": "travel", 
       "limit": 150
}

In [13]:
resp = requests.get(url= url_query, params = parametros).json()

In [14]:
sf_travel = resp.get("response").get("groups")[0].get("items")

In [15]:
lista_travel = []
for dic in sf_travel:
    paralista = {}
    paralista["name"] = f.getFromDict(dic, mapa_nombre)
    paralista["latitud"]= f.getFromDict(dic, mapa_latitud)
    paralista["longitud"] = f.getFromDict(dic,mapa_longitud)
    lista_travel.append(paralista)

In [16]:
travel_sf = pd.DataFrame(lista_travel)
travel_sf.head()

                                          name    latitud    longitud
0              San Francisco Tours with Isolda  37.782894 -122.445145
1  Passport Health San Francisco Travel Clinic  37.781597 -122.452414
2          AAA San Francisco Richmond District  37.782565 -122.465356
3                              Travel Visa Pro  37.788220 -122.433973
4                     CHINATOUR;INTERTRIP;ÊñáÊôØÂÅáÊúü  37.783019 -122.465245

1.3 Vegan ü•¶

In [17]:
parametros = {
       "client_id": tok1,
       "client_secret": tok2,
       "v": "20180323",
       "ll": f"{sanfrancisco.get('coordinates')[0]},{sanfrancisco.get('coordinates')[1]}",
       "query": "vegan", 
       "limit": 150
}

In [18]:
resp = requests.get(url= url_query, params = parametros).json()

In [19]:
sf_vegan = resp.get("response").get("groups")[0].get("items")

In [20]:
lista_vegan = []
for dic in sf_vegan:
    paralista = {}
    paralista["name"] = f.getFromDict(dic, mapa_nombre)
    paralista["latitud"]= f.getFromDict(dic, mapa_latitud)
    paralista["longitud"] = f.getFromDict(dic,mapa_longitud)
    lista_vegan.append(paralista)

In [21]:
vegan_sf = pd.DataFrame(lista_vegan)
vegan_sf.head()

              name    latitud    longitud
0        VeganBurg  37.770156 -122.446522
1  Nourish Cafe SF  37.785232 -122.464583
2         Wildseed  37.797626 -122.432440
3             Jane  37.789338 -122.433960
4    B. Patisserie  37.787945 -122.440804

2. NewYork

In [22]:
newyork = {'type': 'Point', 'coordinates': [37.788482, -73.995625]}

2.1 Starbucks üßã

In [23]:
parametros = {
       "client_id": tok1,
       "client_secret": tok2,
       "v": "20180323",
       "ll": f"{newyork.get('coordinates')[0]},{newyork.get('coordinates')[1]}",
       "query": "starbucks", 
       "limit": 150
}

In [24]:
resp = requests.get(url= url_query, params = parametros).json()

In [25]:
ny_starbucks = resp.get("response").get("groups")[0].get("items")

In [26]:
lista2_starbucks = []
for dic in ny_starbucks:
    paralista = {}
    paralista["name"] = f.getFromDict(dic, mapa_nombre)
    paralista["latitud"]= f.getFromDict(dic, mapa_latitud)
    paralista["longitud"] = f.getFromDict(dic,mapa_longitud)
    lista2_starbucks.append(paralista)

In [27]:
starbucks_ny = pd.DataFrame(lista2_starbucks)
starbucks_ny

        name    latitud   longitud
0  Starbucks  38.336294 -75.107792
1  Starbucks  38.335384 -75.100650
2  Starbucks  38.346629 -75.078033

2.2 Travel üåç

In [28]:
parametros = {
       "client_id": tok1,
       "client_secret": tok2,
       "v": "20180323",
       "ll": f"{newyork.get('coordinates')[0]},{newyork.get('coordinates')[1]}",
       "query": "travel", 
       "limit": 150
}

In [29]:
resp = requests.get(url= url_query, params = parametros).json()
resp

{'meta': {'code': 200, 'requestId': '607d9b9c7ed53c21e5c05a14'},
 'response': {'warning': {'text': 'There aren\'t a lot of results for "travel." Try something more general, reset your filters, or expand the search area.'},
  'suggestedRadius': 30000,
  'headerLocation': 'Current map view',
  'headerFullLocation': 'Current map view',
  'headerLocationGranularity': 'unknown',
  'query': 'travel',
  'totalResults': 0,
  'groups': [{'type': 'Recommended Places',
    'name': 'recommended',
    'items': []}]}}

2.3 Vegan ü•¶

In [30]:
parametros = {
       "client_id": tok1,
       "client_secret": tok2,
       "v": "20180323",
       "ll": f"{newyork.get('coordinates')[0]},{newyork.get('coordinates')[1]}",
       "query": "vegan", 
       "limit": 100
}

In [31]:
resp = requests.get(url= url_query, params = parametros).json()
resp

{'meta': {'code': 200, 'requestId': '607d9b9ca8228e453d039116'},
 'response': {'warning': {'text': 'There aren\'t a lot of results for "vegan." Try something more general, reset your filters, or expand the search area.'},
  'suggestedRadius': 30000,
  'headerLocation': 'Current map view',
  'headerFullLocation': 'Current map view',
  'headerLocationGranularity': 'unknown',
  'query': 'vegan',
  'totalResults': 0,
  'groups': [{'type': 'Recommended Places',
    'name': 'recommended',
    'items': []}]}}

3. LA

In [32]:
la = {'type': 'Point', 'coordinates': [34.051409, -118.254558]}

3.1 Starbucks üßã

In [33]:
parametros = {
       "client_id": tok1,
       "client_secret": tok2,
       "v": "20180323",
       "ll": f"{la.get('coordinates')[0]},{la.get('coordinates')[1]}",
       "query": "starbucks", 
       "limit": 100
}

In [34]:
resp = requests.get(url= url_query, params = parametros).json()

In [35]:
la_starbucks = resp.get("response").get("groups")[0].get("items")

In [36]:
lista3_starbucks = []
for dic in la_starbucks:
    paralista = {}
    paralista["name"] = f.getFromDict(dic, mapa_nombre)
    paralista["latitud"]= f.getFromDict(dic, mapa_latitud)
    paralista["longitud"] = f.getFromDict(dic,mapa_longitud)
    lista3_starbucks.append(paralista)

In [37]:
starbucks_la = pd.DataFrame(lista3_starbucks)
starbucks_la.head()

        name    latitud    longitud
0  Starbucks  34.051515 -118.255442
1  Starbucks  34.048163 -118.258526
2  Starbucks  34.052882 -118.252523
3  Starbucks  34.049718 -118.253088
4  Starbucks  34.048921 -118.251969

3.2 Travel üåç

In [38]:
parametros = {
       "client_id": tok1,
       "client_secret": tok2,
       "v": "20180323",
       "ll": f"{la.get('coordinates')[0]},{la.get('coordinates')[1]}",
       "query": "travel", 
       "limit": 100
}

In [39]:
resp = requests.get(url= url_query, params = parametros).json()

In [40]:
la_travel = resp.get("response").get("groups")[0].get("items")

In [41]:
lista3_travel = []
for dic in la_travel:
    paralista = {}
    paralista["name"] = f.getFromDict(dic, mapa_nombre)
    paralista["latitud"]= f.getFromDict(dic, mapa_latitud)
    paralista["longitud"] = f.getFromDict(dic,mapa_longitud)
    lista3_travel.append(paralista)

In [42]:
travel_la = pd.DataFrame(lista3_travel)
travel_la.head()

                                name    latitud    longitud
0                     Tao Travel 365  34.052926 -118.252190
1                     Liberty Travel  34.049029 -118.258746
2                Moulin Rouge Travel  34.048327 -118.249967
3  JW Marriott Los Angeles L.A. LIVE  34.045241 -118.266471
4                    Travel Visa Pro  34.051454 -118.265684

3.3 Vegan ü•¶

In [43]:
parametros = {
       "client_id": tok1,
       "client_secret": tok2,
       "v": "20180323",
       "ll": f"{la.get('coordinates')[0]},{la.get('coordinates')[1]}",
       "query": "vegan", 
       "limit": 100
}

In [44]:
resp = requests.get(url= url_query, params = parametros).json()

In [45]:
la_vegan = resp.get("response").get("groups")[0].get("items")

In [46]:
lista3_vegan = []
for dic in la_vegan:
    paralista = {}
    paralista["name"] = f.getFromDict(dic, mapa_nombre)
    paralista["latitud"]= f.getFromDict(dic, mapa_latitud)
    paralista["longitud"] = f.getFromDict(dic,mapa_longitud)
    lista3_vegan.append(paralista)

In [47]:
vegan_la = pd.DataFrame(lista3_vegan)
vegan_la.head()

            name    latitud    longitud
0   Veggie Grill  34.048655 -118.254717
1     sweetgreen  34.050542 -118.254117
2  Tender Greens  34.048294 -118.254539
3     Ramen Hood  34.050631 -118.248688
4    Tierra Cafe  34.049986 -118.258714

### Conversi√≥n a tipo point

- I have made a first filter and I have ruled out New York because there were not many vegans and travel

1. SF

In [48]:
#Make a list to convert coordinates to point type
sf_starb = []
for sf in lista_starbucks:
    temporal = {
        "name": sf.get("name"),
        "location": {"type": "Point", "coordinates": [sf.get("longitud"), sf.get("latitud"),]}
        
    }
    sf_starb.append(temporal)

In [49]:
df1 = pd.DataFrame(sf_starb)
#Create a column with the name 'local' in order to count how many locals are in the place
df1['local'] = 'starbucks'
df1.head()

        name                                           location      local
0  Starbucks  {'type': 'Point', 'coordinates': [-122.453203,...  starbucks
1  Starbucks  {'type': 'Point', 'coordinates': [-122.4494085...  starbucks
2  Starbucks  {'type': 'Point', 'coordinates': [-122.4347566...  starbucks
3  Starbucks  {'type': 'Point', 'coordinates': [-122.44708, ...  starbucks
4  Starbucks  {'type': 'Point', 'coordinates': [-122.43983, ...  starbucks

In [50]:
sf_trav = []
for sf in lista_travel:
    temporal = {
        "name": sf.get("name"),
        "location": {"type": "Point", "coordinates": [sf.get("longitud"), sf.get("latitud"),]}
        
    }
    sf_trav.append(temporal)

In [51]:
df2 = pd.DataFrame(sf_trav)
df2['local'] = 'travel'
df2.head()

,name,location,local
0,San Francisco Tours with Isolda,"{'type': 'Point', 'coordinates': [-122.4451446...",travel
1,Passport Health San Francisco Travel Clinic,"{'type': 'Point', 'coordinates': [-122.4524135...",travel
2,AAA San Francisco Richmond District,"{'type': 'Point', 'coordinates': [-122.4653562...",travel
3,Travel Visa Pro,"{'type': 'Point', 'coordinates': [-122.433973,...",travel
4,CHINATOUR;INTERTRIP;ÊñáÊôØÂÅáÊúü,"{'type': 'Point', 'coordinates': [-122.4652446...",travel

In [52]:
sf_vegano = []
for sf in lista_vegan:
    temporal = {
        "name": sf.get("name"),
        "location": {"type": "Point", "coordinates": [sf.get("longitud"), sf.get("latitud")]}
        
    }
    sf_vegano.append(temporal)

In [53]:
df3 = pd.DataFrame(sf_vegano)
df3['local'] = 'vegan'
df3.head()

              name                                           location  local
0        VeganBurg  {'type': 'Point', 'coordinates': [-122.4465223...  vegan
1  Nourish Cafe SF  {'type': 'Point', 'coordinates': [-122.4645833...  vegan
2         Wildseed  {'type': 'Point', 'coordinates': [-122.4324404...  vegan
3             Jane  {'type': 'Point', 'coordinates': [-122.4339598...  vegan
4    B. Patisserie  {'type': 'Point', 'coordinates': [-122.440804,...  vegan

2. LA

In [54]:
la_star = []
for la in lista3_starbucks:
    temporal = {
        "name": la.get("name"),
        "location": {"type": "Point", "coordinates": [la.get("longitud"), la.get("latitud"),]}
        
    }
    la_star.append(temporal)

In [55]:
df4 = pd.DataFrame(la_star)
df4['local'] = 'starbucks'
df4.head()

        name                                           location      local
0  Starbucks  {'type': 'Point', 'coordinates': [-118.2554422...  starbucks
1  Starbucks  {'type': 'Point', 'coordinates': [-118.2585263...  starbucks
2  Starbucks  {'type': 'Point', 'coordinates': [-118.2525229...  starbucks
3  Starbucks  {'type': 'Point', 'coordinates': [-118.2530877...  starbucks
4  Starbucks  {'type': 'Point', 'coordinates': [-118.2519692...  starbucks

In [56]:
la_trav = []
for la in lista3_travel:
    temporal = {
        "name": la.get("name"),
        "location": {"type": "Point", "coordinates": [la.get("longitud"), la.get("latitud")]}
        
    }
    la_trav.append(temporal)

In [58]:
df5 = pd.DataFrame(la_trav)
df5['local'] = 'travel'
df5.head()

,name,location,local
0,Tao Travel 365,"{'type': 'Point', 'coordinates': [-118.2521903...",travel
1,Liberty Travel,"{'type': 'Point', 'coordinates': [-118.258746,...",travel
2,Moulin Rouge Travel,"{'type': 'Point', 'coordinates': [-118.249967,...",travel
3,JW Marriott Los Angeles L.A. LIVE,"{'type': 'Point', 'coordinates': [-118.2664713...",travel
4,Travel Visa Pro,"{'type': 'Point', 'coordinates': [-118.2656842...",travel

In [66]:
la_vegano = []
for la in lista3_vegan:
    temporal = {
        "name": la.get("name"),
        "location": {"type": "Point", "coordinates": [la.get("longitud"), la.get("latitud")]}
        
    }
    la_vegano.append(temporal)

In [67]:
df6 = pd.DataFrame(la_vegano)
df6['local'] = 'vegan'
df6.head()

            name                                           location  local
0   Veggie Grill  {'type': 'Point', 'coordinates': [-118.2547171...  vegan
1     sweetgreen  {'type': 'Point', 'coordinates': [-118.2541173...  vegan
2  Tender Greens  {'type': 'Point', 'coordinates': [-118.2545385...  vegan
3     Ramen Hood  {'type': 'Point', 'coordinates': [-118.2486878...  vegan
4    Tierra Cafe  {'type': 'Point', 'coordinates': [-118.2587144...  vegan

### Value counts

In [59]:
df1.local.value_counts()

starbucks    54
Name: local, dtype: int64

In [60]:
df2.local.value_counts()

travel    12
Name: local, dtype: int64

In [61]:
df3.local.value_counts()

vegan    85
Name: local, dtype: int64

In [62]:
df4.local.value_counts()

starbucks    49
Name: local, dtype: int64

In [63]:
df5.local.value_counts()

travel    19
Name: local, dtype: int64

In [68]:
df6.local.value_counts()

vegan    48
Name: local, dtype: int64

`- I have made the second decision and I have ruled out LA because there are more starbucks and vegans in SF. The differences in the trips is minimal, and I prefer that the CEO and Executives to be happy.`

### EXPORTING THE DF

In [ ]:
df1.to_json("json/starbuckssf.json", orient="records")
df2.to_json("json/travelsf.json", orient="records")
df3.to_json("json/vegansf.json", orient="records")
df4.to_json("json/starbucksla.json", orient="records")
df5.to_json("json/travella.json", orient="records")
df6.to_json("json/veganla.json", orient="records")